/* #upcase{
    font-family: Arial, Helvetica, sans-serif;
color: rgb(255, 64, 0);
background: rgb(4, 248, 134);
border-radius: 10%;
border-width: 5px;
border-color: rgb(239, 11, 170);
/* border-style: solid; */
/* border-color: rgb(124, 131, 117) 10px 10px;  chartreuse;*/
/* .btn{
background-color: rgb(95, 178, 198);
    
} */